*html{
    background-color: rgb(96,93,48) ;
}
#navBar {
    width: 100%;
    height: 100px;
    background-color: rgb(96,93,48);
    color: black;
}
#logoHere {
    height: 100%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#colorFill {
    height: 100%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-block;
}
#topImg {
    max-height: 25%;
}
#giraffe {
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 100% 35%;
}
#searchBar { 
   justify-content: center;
   text-align: center;
   margin-right: 50%;
   margin-left: 50%;
   position: absolute;
   display: flex;
   z-index: 9;
     
}
#bottomImg {
    max-height: 25%;
}
#print {
    position: relative;
    height: 300px;
    width: 100%;
    display: block; 
    object-fit: cover;
}
#footer {
    max-width: 100%;
    height: 150px;
    background-color: rgb(96,93,48);
    color: black;
}
#about {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
#contact {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
#safety {
    background-color: rgb(96,93,48);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
#bigLogo {
    text-align: center;
    justify-content: right;
    vertical-align: middle;
}

#aboutpage {
    justify-content: center;
    font-size: x-large;
    text-align: center;
    background-color: rgb(96,93,48);
    color: black;
    height: 500px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
}

